<!DOCTYPE html>
<html>
<head>
  <title>Reservation Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <h1>Reservation Details</h1>
  <table class="table">
    <tbody>
      <tr>
        <th>Name:</th>
        <td><%= reservation.name %></td>
      </tr>
      <tr>
        <th>Mobile No.:</th>
        <td><%= reservation.mobile %></td>
      </tr>
      <tr>
        <th>City:</th>
        <td><%= reservation.city %></td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td><%= reservation.gender %></td>
      </tr>
      <tr>
        <th>Aadhar Card:</th>
        <td><%= reservation.aadhar %></td>
      </tr>
      <tr>
        <th>Date of Birth:</th>
        <td><%= reservation.dob %></td>
      </tr>
      <tr>
        <th>Seat Count:</th>
        <td><%= reservation.seatCount %></td>
      </tr>
      <tr>
        <th>Seat Price:</th>
        <td><%= reservation.seatPrice %></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
